@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;1,600&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
font-size: 62.5%;
}

/* For Intro */
.div--none {
display: none;
}

.body__before-intro {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 100vh;
font-size: 1.6rem;
}

.st-btn {
padding: 50px;
font-size: 3rem;
border: 2px dotted red;
background-color: white;
cursor: pointer;
}

.st-btn:hover {
transform: scale(1.1);
background-color: black;
border-color: #ffc600;
box-shadow: 0 0 1rem #ffc600;
border-style: solid;
}

.st-btn-replacer {
transform: scale(1.1);
background-color: black;
border: 2px solid #ffc600;
box-shadow: 0 0 1rem #ffc600;
padding: 50px;
animation: intro-start 4.8s 0.5s;
animation-fill-mode: forwards;
}

@keyframes intro-start {
0% {transform: scale(0.9)}
6.25% {transform: scale(1); border-color: #ea4e10; border-shadow: 0 0 1rem #ea4e10} 
12.5% {transform: scale(0.9)}
25% {transform: scale(1)}
50% {transform: scale(1); border-color: #d8af1a; border-shadow: 0 0 1rem #d8af1a}
65.83% {transform: scale(1.6)}
100% {transform: scale(1.8); border-color: #bc5025; border-shadow: 0 0 1rem #bc5025;}
}

.transition-to-big-box {
background: black; 
padding: 50px; 
transform: scale(4.4);
border: 2px solid #bc5025;
box-shadow: 0 0 1rem #bc5025;
}

.transition-big-box-swell {
animation: box-swell 10s;
}

@keyframes box-swell {
0%{transform: scale(4.4); }
80%{border-color: red; box-shadow: red;}
100% {transform: scale(32);}
}

/* After Intro */

.body__after-intro {
background-color: #000;
color: #fff;
font-size: 1.6rem;
font-family: 'Crimson Text', serif;
display: flex;
flex-direction: column;
align-items: center;
}

/* header */

.header{
text-align: center; 
padding: 20px;

}

.header__p {
font-size: 3rem;
}

.header__h1 {
font-size: 7rem;
word-spacing: 5px;
}

.header--play-again-black {
    color: black;
}

/* header-animate */

.header--fade-in-animation {
color: #000;
animation: fade-in 3s ease-in 1s;
animation-fill-mode: forwards;
}

@keyframes fade-in {
0%{color: #000}
100%{color: #fff}
}

.header--fade-out-animation {
    animation: fade-out 4s;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    0% {color: #fff}
    100% {color: #000};
}

/* score-board */

.score-board {
text-align: center;
font-size: 2.8rem;
padding-bottom: 10px;


}

.score-board__h3 {
font-size: 3.5rem;
padding: 15px;
font-style: italic;
}

.score-board__h3--red {
    color: #FF7F7F;
}

.score-board__h3--blue {
    color: #468fea;
}

.score-board__comp-block{
margin-left: 50px;
}

.score-board__human-block {
margin-right: 50px;
}

.score-board__comp-block, .score-board__human-block {
display: inline-block;
padding: 30px;
}

/* score-board__font-awe */
.score-board__font-awe {
font-size: 8rem;
padding: 10px 10px;
}

.score-board__font-awe-comp--marine {
    color: #4000FF;
}

.score-board__font-awe-comp--savory {
    color: #4B61D1;
}

.score-board__font-awe-comp--egypt {
    color:#345cdd;
}

.score-board__font-awe-human--imperial {
    color: #ED2939;
}

.score-board__font-awe-human--cardinal {
    color: 	#C51E3A;
}

.score-board__font-awe-human--crimson {
    color: #DC143C;
}


/* score-board animation */
.score-board--animate {
animation: appear 3s;
animation-fill-mode: forwards;
animation-delay:2s ;
color: #000;
}

@keyframes appear {
0%{color: #000}
100%{color: #fff}
}

/* Choices */

.choices {
text-align: center;
margin-top: 30px;
}

.choices__rock,.choices__paper,.choices__scissor {
padding: 35px;
background-color: rgba(255,255,255,0.2);
border: 2px solid #fff;
margin-right: 10px;
cursor: pointer;
}

.choices__rock:hover,.choices__paper:hover,.choices__scissor:hover {
border-color: rgb(167, 41, 41);
border-radius: 5px;   
color: rgb(216, 49, 49);
}

.choices__font-awe {
font-size: 8rem;
color: #fff;
}

.choices__font-awe--imperial:hover {
    color: #ED2939;
}

.choices__font-awe--crimson:hover {
    color: #DC143C;
}

.choices__font-awe--cardinal:hover {
    color: 	#C51E3A;
}

/* Play--again */

.body--play-again {
    height: 100vh;
    justify-content: center;
    overflow: hidden;
}

.winner-announcer {
    text-align: center;
    font-size: 2.1rem;
}

.winner-announcer__h1 {
    font-size: 5rem;
    margin-bottom: 13px;
}

.winner-announcer__h1--fade-in {
    color: #000;
    animation: WA__h1--fade-in 10s;
    animation-delay: .5s;
    animation-fill-mode: forwards; 
}

@keyframes WA__h1--fade-in {
    0% {color: #000}
    50% {color: #fff}
    100% {color: #000}
}

.winner-announcer__p--fade-in {
    color: #000;
    animation: WA__p--fade-in 8s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards; 
}

@keyframes WA__p--fade-in {
    0% {color: #000}
    50% {color: #fff}
    100% {color: #000}
}

.winner-announcer__p--margin {
    margin: 5px;
}

.WA__btn-div__btn {
    height: 50px;
    width: 50px;
   border-radius: 50%;
   border: none;
   margin-left: 5px;
   cursor: pointer;
}

.WA__btn-div__btn--fade-in {
    animation: btn--fade-in 5s 4s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes btn--fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}

.WA__btn-div__btn--red {
    background-color: red;
    
}

.WA__btn-div__btn--red:hover {
    background-color: black;
    border-radius: 50%;
    box-shadow: inset -10px 0px 0px silver;
    color: silver;
    transition: .5s;
}

.WA__btn-div__btn--blue {
    background-color: blue;
}

.WA__btn-div__btn--blue:hover {
    background-color: black;
    border-radius: 50%;
    box-shadow: inset 10px 0px 0px silver;
    color: silver;
    transition: .5s;
}


/* score-board--play-again */
.score-board__h3--play-again-white {
    color: #fff;
}